<div  style="display:flex;gap:1rem">
  <%= form_for todo, remote: true do |f| %>
    <%# remote: true is really just telling the browser to not refresh the page. Do the action that you would normally do, but don't do anything to the page %>
    <%= f.check_box :is_done, class: 'todo-checkbox', checked: todo.is_done, onchange: 'this.form.submit();' %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <% end %>
  <%= @todo.title %>
  <%= button_to "x", todo_path(todo), method: :delete %>
</div>
